* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #111;
  position: sticky;
  top: 0;

}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  color: #ddd;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #00bfff;
}


body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, footer {
    text-align: center;
    padding: 10px;
    background: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

section {
    margin-top: 20px;
}



.skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 25px;
}

.skill-item {
  width: 120px;
  text-align: center;
}

.skill-item img {
  width: 36px;
  height: 36px;
  object-fit: contain;
  margin-bottom: 6px;
}

.skill-item span {
  font-size: 14px;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 20px auto;
}

.contact-list li {
  margin: 12px 0;
}

.contact-list a {
  display: flex;
  align-items: right;
  gap: 12px;
  text-decoration: none;
  font-size: 16px;
  color: #333;
  transition: color 0.2s ease;
}

.contact-list i {
  font-size: 18px;
}

.contact-list a:hover {
  color: #0077cc;
}


#feedback {
  
  text-align: center;
}

.feedback-form {
  max-width: 400px;
  margin: 20px auto;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.feedback-form button {
  padding: 10px 16px;
  border: none;
  background: #0077cc;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.feedback-form button:hover {
  background: #005fa3;
}
